.speech {
    background: white!important;
    position: relative;
    outline: none;
}

/* Creates triangular tip on the
   end, for our speech bubble 
   with some styling */
.speech:before {
    content: "";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid white!important;
    border-top: 20px solid white!important;
    border-bottom: 20px solid transparent;
    right: 0;
    bottom: -10px;
    outline: none;

}

