.sm_bg { 
    background-image: url('https://i.ibb.co/Hhfj0Z6/main.png');
}
.md_bg { 
    background-image: url('https://i.ibb.co/c2Fw4Wd/Login.png');
}

.lg_bg {
    background-image: url('https://i.ibb.co/zSQtB1y/Registration-and-Login.png');

}