@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F5FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-datetime-edit-fields-wrapper { 
  margin-left: 50px;
}

::-webkit-calendar-picker-indicator { 
  font-size: 20px;
  position: absolute;
 }